.weather-container {
  place-self: center;
  padding: 48px;
  border-radius: 8px;
  background-image: linear-gradient(60deg, #496edc, #7b49b4);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  background-color: rgba(0, 0, 0, 0.4);
  height: 40px;
  width: 250px;
  border: none;
  padding: 8px;
  border-radius: 12px;
  color: #ffffff;
}

.search-bar img {
  background-color: white;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.search-bar img:hover {
  background-color: rgb(184, 183, 183);
}
.weather-icon {
  width:200px;
  margin: 20px 0
}

.temperature {
  color: #fff;
  font-size: 72px;
  text-align: center;
}

.city {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.forecast-container {
  margin-top: 24px;
  text-align: center;
  color: white;
}

.forecast-grid {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 12px;
  flex-wrap: nowrap;
}

.forecast-day {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-day img {
  width: 32px;
  height: 32px;
  margin: 4px 0;
}

